spring:
  application:
    name: library-management

  # 기본 프로필 (로컬 개발용)
  datasource:
#    url: jdbc:postgresql://my-postgres:5432/postgres #jdbc:h2:mem:librarydb
#    url: jdbc:postgresql://localhost:5432/
    url: jdbc:postgresql://myapp-postgres-db.c7w8gyewi9jn.ap-northeast-2.rds.amazonaws.com:5432/postgres
    driver-class-name: org.postgresql.Driver #org.h2.Driver
    username: postgres
    password: ${DB_PASSWORD} #postgres02
  
  h2:
    console:
      enabled: off
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    defer-datasource-initialization: true
  
  sql:
    init:
      mode: always

  cloud:
    aws:
      credentials:
        accessKey: ${AWS_S3_ACCESS_KEY}
        secretKey: ${AWS_S3_SECRET_KEY}
      region:
        static: ap-northeast-2
      s3:
        bucket: s3-bucket-practice214

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics


---

# Docker 환경용 프로필 (스프링 초기화 시 프로필 active가 docker라면 아래 설정을 우선시하겠다.)
spring:
  config:
    activate:
      on-profile: docker

  # 환경 변수로 외부에서 주입 받음
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

